data/
treated_data/
.allmerger.xlsx
exploring_installments_payments.ipynb
engineering_nn/
exploring_POS_CASH_balance
exploring_application_train.ipynb
merging_data.ipynb
exploring_credit_card_balance.ipynb
exploring_data.ipynb
time_series/merging_bureaus.ipynb
merging_bureaus.ipynb
time_series/Model.ipynb
time_series/model_multiple_inputs.ipynb
time_series/rascunho.ipynb
time_series/Untitled1.ipynb
time_series/Untitled.ipynb

